body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

button.update, button.delete {
    width: 70px; /* Ensure both buttons are the same size */
    padding: 5px;
    margin: 2px;
}

#searchName::placeholder {
    text-align: center;
}
